.authPage {
  width: 100vw;
  height: 100vh;
  background-color: #c8c8c8;
  color: #010101;

  .wrapper {
    padding: 20px;
    position: relative;
    width: 70%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .header {
    padding: 0 40px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .inner {
    width: 100%;
    max-width: 530px;
  }

  .title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 50px;
    line-height: 100%;
    color: #000;
    margin-bottom: 20px;

    & span {
      font-weight: 700;
    }
  }

  .subTitle {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    color: #787878;
    margin-bottom: 40px;
  }

  .btnWrapper {
    gap: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .roleBtn {
    position: relative;
    padding: 12px 15px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s;

    &:hover {
      box-shadow: none;
    }

    & span {
      display: inline-block;
      position: absolute;
      width: 9px;
      height: 18px;
      top: 14px;
      right: 15px;
      overflow: hidden;
    }
  }

  .guestBtn {
    padding: 12px 15px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: #646464;
    width: 100%;
    color: #fff;
    margin-bottom: 20px;
  }

  .bottomText {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #787878;
  }

  .methodWrapper {
    position: relative;
    width: 100%;
    max-width: 385px;

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #787878;
      z-index: 0;
    }
  }

  .methodTitle {
    position: relative;
    text-align: center;
    padding: 0 15px;
    width: fit-content;
    background-color: #fff;
    z-index: 2;
    margin: 45px auto;
  }

  .method {
    width: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    & button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #e1e1e1;
      border-radius: 10px;
      padding: 6px;
      width: 56px;
      height: 56px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
      transition: all 0.3s;

      &:hover {
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
}
