.patientPage {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main";
  grid-template-columns: 315px 1fr; // aside фикс ширина, main растягивается
  grid-template-rows: auto 1fr; // header по контенту, нижний ряд занимает всё остальное
  height: 100vh; // фиксируем всю высоту
  background-color: #fff;
  overflow: hidden; // убираем общий скролл

  .header {
    grid-area: header;
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }

  .aside {
    grid-area: aside;
    padding: 20px;
    border-right: 1px solid #ccc;
    overflow-y: auto; // можно тоже отдельно прокручивать aside, если нужно
  }

  .main {
    grid-area: main;
    padding: 20px;
    overflow-y: auto; // только main скроллится
    min-height: 0; // важно, чтобы grid "сжимал" по высоте
  }

  .mainTitle {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .LoadMoreBtn {
    cursor: pointer;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    color: #646464;
    border: 0.5px solid #c8c8c8;
    border-radius: 10px;
    padding: 7px 15px;
    display: block; // кнопка займёт строку
    margin: 20px auto;
    transition: all 0.3s;

    &:hover {
      box-shadow: 2px 3px 5px #646464;
    }

    &:active {
      color: #fff;
      background-color: #ccc;
    }
  }
}

/* Адаптивность */
@media (max-width: 768px) {
  .patientPage {
    grid-template-areas:
      "header"
      "aside"
      "main";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
}
