.myAppointments {
  .header {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .subtitle {
      font-weight: 500;
      font-size: 22px;
      line-height: 1.3em;
      color: #646464;
    }

    .headerBtnWRapper {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .btn {
      padding: 15px 25px;
      border: 1px solid #646464;
      border-radius: 6px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.3em;
    }

    .surveyBtn {
      color: #646464;
    }

    .bookBtn {
      gap: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: #646464;

      & span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 17px;
        height: 17px;
        overflow: hidden;

        & svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .wrapper {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .inner {
    gap: 30px;
    display: flex;
    align-items: center;
  }

  .tabsWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .btn {
    padding: 8px 25px;
    border: 1px solid #969696;
    border-radius: 6px;

    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #969696;
  }

  .filtersWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .tableWrapper {
    background-color: #ccc;
    width: 100%;
    max-width: 1800px;
    max-height: 500px; // ограничиваем высоту
    overflow-y: auto; // вертикальный скролл
    overflow-x: auto; // горизонтальный, если нужно
  }
}
