.patientHeader {
  .nav,
  .inner,
  .list {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .list {
    display: flex;
    gap: 60px;
  }

  .link {
    position: relative;

    &::after {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: -5px;
      left: 0;
      background-color: #010101;
    }
  }

  .inpurWrapper {
    position: relative;
  }

  .searchIcon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchInput {
    border: 1px solid #646464;
    border-radius: 12px;

    width: 330px;
    padding: 10px 10px 10px 44px;
  }

  .notification {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    border: 1px solid #646464;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
