.register {
  .title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    color: #000;
    margin-bottom: 20px;
  }

  .subTitle {
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #000;
    margin-bottom: 40px;

    & span {
      font-weight: 700;
    }
  }

  .roleCheck {
    display: inline-block;
    margin-right: 10px;
  }

  .regisForm {
    margin-bottom: 12px;
  }

  .inputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
  }

  .label {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #000;

    & span {
      font-style: italic;
      font-weight: 400;
      font-size: 12px;
      line-height: 167%;
      color: #969696;
      margin-left: 20px;
    }
  }

  .inputEmail {
    background: url("/icons/email-svg.svg") no-repeat 12px center;
    background-size: 18px 18px;
    padding-left: 40px; // чтобы текст не налезал на иконку
  }

  .guestBtn {
    width: 100%;
    border-radius: 8px;
    padding: 12px 0px;
    color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: #646464;
    margin-bottom: 12px;
  }

  .bottomText {
    text-align: center;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #787878;

    & span {
      font-weight: 700;
    }
  }

  .input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
  }

  .errorInput {
    border: 1px solid red;
    background-color: #ffeaea;
  }

  .errorText {
    font-size: 12px;
    color: red;
    margin-top: 4px;
  }
}
