.layout {
  display: grid;
  grid-template-columns: auto 1fr; // Автоширина для Aside, остальное для контента
  grid-template-rows: auto 1fr; // Автовысота для Header, остальное для Main
  height: 100vh; // Занимаем всю высоту экрана

  .aside {
    grid-column: 1;
    grid-row: 1 / 3; // Занимает обе строки
    width: 300px; // Начальная ширина
    min-width: 200px; // Минимальная ширина
    max-width: 500px; // Максимальная ширина
    resize: horizontal; // Разрешаем изменение ширины
    border-right: 1px solid #ddd;
  }

  .header {
    grid-column: 2;
    grid-row: 1;
    border-bottom: 1px solid #ddd;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 0; // Разрешаем сжатие контента
  }

  .main {
    padding: 20px;
    grid-column: 2;
    grid-row: 2;
    background: #f9f9f9;
    min-width: 0; // Критически важно для адаптивности!
  }
}
